sudo: false
matrix:
  fast_finish: true
  include:
    - python: "3.5"
      env: TOXENV=lint
    - python: "3.5"
      env: TOXENV=py35
    - python: "3.6"
      env: TOXENV=py36
cache:
  directories:
    - $HOME/.cache/pip
install: pip install -U tox coveralls codecov
language: python
before_script:
  - docker build -t opsdroid .
  - docker run -d --name opsdroid opsdroid
script:
  - tox
  - docker ps | grep -q opsdroid
after_script:
  - docker logs opsdroid
after_success: coveralls && codecov
deploy:
  provider: pypi
  user: $PYPI_USER
  password: $PYPI_PASSWORD
  on:
    tags: true
    repo: opsdroid/opsdroid
    condition: "$TOXENV = py35"
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/e03aa35a69fab2cb086a
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
