include README.md
include LICENSE
include requirements.txt
recursive-include opsdroid/locale *
graft opsdroid
include opsdroid/configuration/example_configuration.yaml
recursive-exclude * *.py[co]
recursive-exclude tests *
recursive-exclude * conftest.py
include versioneer.py
include opsdroid/_version.py
include opsdroid/configuration/schema.yaml
