include README.md
include LICENSE
include requirements.txt
recursive-include opsdroid/locale *
graft opsdroid
recursive-exclude * *.py[co]
include versioneer.py
include opsdroid/_version.py
recursive-include opsdroid/configuration *.yaml
