[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = "==3.0.5"
arrow = "==0.12.1"
click = "==6.7"
nbconvert = "==5.3.1"
nbformat = "==4.4.0"
pycron = "==0.80.0"
slacker-asyncio = "==0.9.60"
websockets = "==6.0"
appdirs = "==1.4.3"
Babel = "==2.6.0"
PyYAML = "==3.13"
hangups = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.6"
