flake8==3.8.1
black==19.10b0
coveralls==2.0.0
dialogflow==0.8.0
astroid==2.4.1
pytest==5.4.2
pytest-asyncio==0.12.0
pytest-cov==2.7.1
pytest-timeout==1.4.0
pydocstyle==5.0.2
asynctest==0.13.0
mypy-lang==0.5.0
sphinx==3.0.4
sphinx-click==2.3.2
recommonmark==0.6.0
deadlinks==0.3.2
