aiohttp==3.5.4
aioredis==1.2.0
aioslacker==0.0.11
aiosqlite==0.10.0
appdirs==1.4.3
arrow==0.14.2
Babel==2.7.0
bleach==3.1.0
click==7.0
emoji==0.5.2
matrix-api-async==0.1.0
motor==2.0.0
multidict==4.5.2
nbconvert==5.5.0
nbformat==4.4.0
opsdroid-get-image-size==0.2.2
parse==1.12.0
puremagic==1.5
pycron==1.0.0
pyyaml==5.1.1
setuptools==41.0.1
websockets==7.0
