aiohttp==3.4.4
git+https://github.com/opsdroid/aioslacker.git@26fb78de6e9fedfaab650ea5c3b87b33c4fc9657
arrow==0.12.1
Babel==2.6.0
click==6.7
nbconvert==5.4.0
nbformat==4.4.0
pycron==0.80.0
pyyaml==3.13
websockets==6.0
appdirs==1.4.3
multidict==4.4.2
