flake8==3.7.9
black==19.10b0
coveralls==1.11.1
dialogflow==0.7.2
astroid==2.3.3
pytest==5.3.5
pytest-cov==2.7.1
pytest-timeout==1.3.4
pydocstyle==5.0.2
asynctest==0.13.0
mypy-lang==0.5.0
sphinx==2.4.2
sphinx-click==2.3.1
recommonmark==0.6.0
deadlinks==0.1.1
