aiohttp==3.6.0
aioredis==1.2.0
aioslacker==0.0.11
aiosqlite==0.10.0
appdirs==1.4.3
arrow==0.15.1
Babel==2.7.0
bleach==3.1.0
click==7.0
emoji==0.5.4
matrix-api-async==0.1.0
motor==2.0.0
multidict==4.5.2
nbconvert==5.6.0
nbformat==4.4.0
opsdroid-get-image-size==0.2.2
parse==1.12.1
puremagic==1.5
pycron==1.0.0
pyyaml==5.1.2
setuptools==41.2.0
websockets==8.0.2
yamale==2.0.1
webexteamssdk==1.1.1
