##                      _           _     _
##   ___  _ __  ___  __| |_ __ ___ (_) __| |
##  / _ \| '_ \/ __|/ _` | '__/ _ \| |/ _` |
## | (_) | |_) \__ \ (_| | | | (_) | | (_| |
##  \___/| .__/|___/\__,_|_|  \___/|_|\__,_|
##       |_|
##                   __ _
##   ___ ___  _ __  / _(_) __ _
##  / __/ _ \| '_ \| |_| |/ _` |
## | (_| (_) | | | |  _| | (_| |
##  \___\___/|_| |_|_| |_|\__, |
##                        |___/
##
## A default config file to use with opsdroid

## Set the logging level
# logging:
#   level: info
#   path: opsdroid.log
#   console: true

## Set the location for opsdroid to install modules
# module-path: "."

## Show welcome message
welcome-message: true

## Configure the web server
# web:
#   host: '127.0.0.1'
#   port: 8080
#   ssl:
#     cert: /path/to/cert.pem
#     key: /path/to/key.pem
#   webhook-token: "aabbccddee"

## Parsers
# parsers:
#{% for parser in parsers %}
#  ## {{ parser.name }} ({{ parser.url }})
{% for line in parser.config.split('\n') -%}
#  {{ line }}
{% endfor -%}
#{% endfor %}

## Connector modules
connectors:
{% for connector in connectors.uncommented %}
  {% for line in connector.config.split('\n') -%}
  {{ line }}
  {% endfor -%}
{% endfor %}
  # Uncomment the connector(s) that you wish opsdroid to work on
#{% for connector in connectors.commented %}
#  ## {{ connector.name }} ({{ connector.url }})
{% for line in connector.config.split('\n') -%}
#  {{ line }}
{% endfor -%}
#{% endfor %}


## Database modules (optional)
{% if databases.uncommented %}
databases:
{% for database in databases.uncommented %}
  {% for line in database.config.split('\n') -%}
  {{ line }}
  {% endfor -%}
{% endfor %}
{% else %}
# databases:
#{% for database in databases.commented %}
#  ## {{ database.name }} ({{ database.url }})
{% for line in database.config.split('\n') -%}
#  {{ line }}
{% endfor -%}
#{% endfor %}
{% endif %}

## Skill modules
skills:
{% for skill in skills.uncommented %}
  ## {{ skill.name }} ({{ skill.url }})
  {% for line in skill.config.split('\n') -%}
  {{ line }}
  {% endfor -%}
{% endfor %}
  # Configurations for other skills uncomment desired skill to activate it.
#{% for skill in skills.commented %}
#  ## {{ skill.name }} ({{ skill.url }})
{% for line in skill.config.split('\n') -%}
#  {{ line }}
{% endfor -%}
#{% endfor %}
