##                      _           _     _
##   ___  _ __  ___  __| |_ __ ___ (_) __| |
##  / _ \| '_ \/ __|/ _` | '__/ _ \| |/ _` |
## | (_) | |_) \__ \ (_| | | | (_) | | (_| |
##  \___/| .__/|___/\__,_|_|  \___/|_|\__,_|
##       |_|
##                   __ _
##   ___ ___  _ __  / _(_) __ _
##  / __/ _ \| '_ \| |_| |/ _` |
## | (_| (_) | | | |  _| | (_| |
##  \___\___/|_| |_|_| |_|\__, |
##                        |___/
##
## A default config file to use with opsdroid

## Set the logging level
# logging:
#   level: info
#   path: opsdroid.log
#   console: true

## Set the location for opsdroid to install modules
# module-path: "."

## Configure the web server
# web:
#   host: '127.0.0.1'
#   port: 8080
#   ssl:
#     cert: /path/to/cert.pem
#     key: /path/to/key.pem

## Parsers
# parsers:
#   - name: regex
#     enabled: true
#
#   - name: crontab
#     enabled: true
#
#   - name: apiai
#     access-token: "youraccesstoken"
#     min-score: 0.6

## Connector modules
connectors:
  - name: shell
  - name: websocket

## Database modules (optional)
# databases:
#   mongo:
#     host:       "my host"     # (Optional) default "localhost"
#     port:       "12345"       # (Optional) default "27017"
#     database:   "mydatabase"  # (Optional) default "opsdroid"

## Skill modules
skills:

  ## Hello world (https://github.com/opsdroid/skill-hello)
  - name: hello

  ## Last seen (https://github.com/opsdroid/skill-seen)
  - name: seen

  ## Dance (https://github.com/opsdroid/skill-dance)
  - name: dance

  ## Loud noises (https://github.com/opsdroid/skill-loudnoises)
  - name: loudnoises

  ## Grafana (https://github.com/opsdroid/skill-grafana)
  - name: grafana
    room: "#monitoring"  # (Optional) room to send alert to

  ## Travis (https://github.com/opsdroid/skill-travis)
  - name: travis
    room: "#monitoring"     # (Optional) room to send alert to
    travis_endpoint: "org"  # (Optional) endpoint for travis, change to "com" if using enterprise Travis CI

  ## Devtools (https://github.com/opsdroid/skill-devtools)
  - name: devtools

  ## Food (https://github.com/opsdroid/skill-food)
  - name: food
    api-key: "myapikeyfromfood2fork"  # Required

  ## Magpi (https://github.com/opsdroid/skill-magpi)
  - name: magpi
    room: "#raspberrypi"    # (Optional) room to send notifications to

  ## Google it (https://github.com/opsdroid/skill-google-it/)
  - name: google-it
    # Optional
    engine-url: https://www.google.co.uk/    # url of the search enfine you want to use
    query-arg: search?q=    # The uri for the search (default is for google)

  ## API.AI (https://github.com/opsdroid/skill-apiai)
  - name: apiai
  include:
    - smalltalk
  exclude:
    - smalltalk.agent

  ## Devtools (https://github.com/opsdroid/skill-vault)
  - name: vault
    # Required
    vault-url: https://vault.example.com:8443
    vault-token: aabbccddee1122334455
    # Optional
    announce-on-seal: false  # Announce the vault status in the default room on seal
    announce-sealed: true  # Announce the vault is sealed hourly
    announce-unsealed: false  # Announce the vault is unsealed hourly


  ## ISS (https://github.com/opsdroid/skill-iss)
  - name: iss
    # Required
    api-key: "mygooglemapsapikey"
    # Optional
    zoom: "5"
    map-size: "1024x768"
    map-type: "hybrid"    # hybrid, satellite or roadmap


