name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on:  ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install libolm
      if: runner.os != 'Windows'
      run: |
        if [ $RUNNER_OS = Linux ]; then
            sudo apt install libolm3 libolm-dev
        else
            brew install libolm
        fi
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -U tox tox-gh-actions
    - name: Run tests
      run: tox
    - name: Upload coverage report
      uses: codecov/codecov-action@v1
      with:
        file: ./cov.xml

  check:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        component: [docker, docs, lint]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        sudo apt install libolm3 libolm-dev
        python -m pip install --upgrade pip
        python -m pip install -U tox
    - name: Run checks
      run: tox -e ${{ matrix.component }}
